body {
  margin: 1ex 1em;
  line-height: 1.6;
  background-color: #eee;
  font-family: sans-serif;
}

header, article {
  width: 45em;
  max-width: 100%;
  min-width: 16em;
  margin: 0 auto;
}

/* header */

header h1 {
  font-weight: inherit;
  font-size: 1.5em;
}

header h1 a {
  color: #666;
}

header h1 sub {
  color: #444;
  font-style: oblique;
  font-size: small;
}

/* content */

section {
  background-color: white;
  padding: 1ex 1ex;
  margin-bottom: 1ex;
  border-radius: .5ex;
  border: 1px #ccc;
  border-style: none solid solid none;
}

section.collapse {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #006eff;
  text-decoration: none;
}
a:hover {
  color: #1f8fff;
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
}

i {
  font-family: Symbola, 'Apple Color Emoji', 'Android Emoji',
    'Segoe UI Symbol', 'DejaVu Sans', sans-serif;
  font-style: inherit;
}

/* repo page */

.repo-title {
  height: 2.4em;
}

.repo-title h2 {
  color: #888;
}

.petname h2,
.petname h3 {
  float: left;
}

.right-bar {
  float: right;
  display: inline-block;
}

.repo-title .right-bar {
  margin-top: .25em;
}

.btn {
  font-size: 1em;
  border-radius: .5ex;

  background-color: white;
  border: 1px #ccc;
  border-style: none solid solid none;
  border-radius: .5ex;
  cursor: pointer;
}
.btn:hover {
  background-color: #f6f6f6;
}

.name {
  font-size: inherit;
  margin-left: 1ex;
  width: 20em;
}

.name-toggle {
  font-size: 1.3em;
  cursor: pointer;
  margin-left: .25ex;
}

.name-checkbox {
  position: absolute;
  opacity: 0;
}

.name-checkbox:checked ~ h2 :last-child,
.name-checkbox:checked ~ h3,
.name-checkbox:not(:checked) ~ .name,
.name-checkbox:not(:checked) ~ .name-btn {
  display: none;
}

.clone-url {
  font-size: small;
  color: #666;
  padding: .3em 1ex;
  background-color: white;
  border: 1px #ccc;
  border-style: none solid solid none;
  border-radius: .5ex;
  float: right;
  margin: 0;
}
.clone-url:hover {
  background-color: #f6f6f6;
}

.repo-nav {
  margin: 1em 0 1ex 0;
}

.repo-nav a {
  border-radius: .5ex;
  padding: 0 .5ex;
  display: inline-block;
  margin-right: .5ex;
}
.repo-nav a:hover {
  color: #1a86ff;
}

.raw-link {
  float: right;
  display: inline-block;
}

.header-align {
  margin-top: .25em;
}

/* files list */

.files td:first-child {
  padding: 0 1ex;
}

/* user page */

.user-id {
  float: right;
  font-weight: normal;
  display: inline-block;
  margin: 0;

}

h2 .user-id {
  font-size: 16px;
  padding-top: .5em;
}

h3 .user-id {
  font-size: 15px;
  padding-top: .25em;
}

/* new issue form */

.wide-input {
  width: 99%;
  display: block;
  font-size: 1.1em;
}

/* issues */

.issue-info {
  float: right;
}

/* issue */

.issue-status {
  padding: .4ex .75ex;
  margin-right: .75ex;
  border-radius: .5ex;
}

.open {
  background-color: #38ae67;
  color: white;
  font-weight: bold;
}

.btn.open:hover {
  background-color: #2b9d58;
}

.closed {
  background-color: #d84a38;
  color: white;
}

.mention-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
