body {
  margin: 1ex 1em;
  line-height: 1.6;
  background-color: #eee;
  font-family: sans-serif;
}

header, article {
  width: 45em;
  max-width: 100%;
  min-width: 16em;
  margin: 0 auto;
}

pre {
  font: 12px/1.45 Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: .5em 1.25ex;
  border: 1px solid #ddd;
  background: #f8f8f8;
  border-radius: .5ex;
}

section code {
  padding: .5ex;
  border-radius: .5ex;
  background-color: #f5f5f5;
}

pre > code {
  padding: 0;
  background-color: #f8f8f8;
}

/* header */

header h1 {
  font-weight: inherit;
  font-size: 1.5em;
}

header h1 :link,
header h1 :visited {
  color: #666;
}

header h1 sub {
  color: #444;
  font-style: oblique;
  font-size: small;
}

header .search-bar {
  float: right;
  margin-top: .5em;
  margin-left: 1ex;
  max-width: 65%;
  padding: .25em;
  font-size: 10pt;
}

/* content */

section {
  background-color: white;
  padding: 1ex 1ex;
  margin-bottom: 1ex;
  border-radius: .5ex;
  border: 1px #ccc;
  border-style: none solid solid none;
}

section.collapse {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h3 ~ h4 {
  margin-top: 1em;
}

a:link, a:visited {
  color: #006eff;
  text-decoration: none;
}
a:hover {
  color: #1f8fff;
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
}

i {
  font-family: Symbola, 'Apple Color Emoji', 'Android Emoji',
    'Segoe UI Symbol', 'DejaVu Sans', sans-serif;
  font-style: inherit;
}

/* repo page */

.repo-title {
  height: 2em;
}

.repo-title h2 {
  height: 1.2em;
}

.bgslash {
  color: #888;
}

.petname h2,
.petname h3 {
  float: left;
}

.right-bar {
  float: right;
  display: inline-block;
}

.repo-title .right-bar {
  margin-top: .25em;
}

.btn {
  font-size: 1em;
  border-radius: .5ex;

  background-color: white;
  border: 1px #ccc;
  border-style: none solid solid none;
  border-radius: .5ex;
  cursor: pointer;
}
.btn:hover {
  background-color: #f6f6f6;
}

.name {
  font-size: inherit;
  margin-left: 1ex;
  width: 20em;
}

label {
  cursor: pointer;
}

.name-toggle {
  font-size: 1.3em;
  margin-left: .25ex;
}

.name-checkbox,
.toggle,
.tab-radio {
  position: absolute;
  opacity: 0;
  font-size: 0;
}

.name-checkbox:checked ~ h2 :last-child,
.name-checkbox:checked ~ h3,
.name-checkbox:not(:checked) ~ .name,
.name-checkbox:not(:checked) ~ .name-btn {
  display: none;
}

.clone-url {
  font-size: small;
  color: #666;
  padding: .3em 1ex;
  background-color: white;
  border: 1px #ccc;
  border-style: none solid solid none;
  border-radius: .5ex;
  float: right;
  margin: 0;
  max-width: 50%;
}
.clone-url:hover {
  background-color: #f6f6f6;
}

nav {
  margin: .5em 0 1ex 0;
  clear: left;
}

nav a {
  border-radius: .5ex;
  padding: 0 .5ex;
  display: inline-block;
  margin-right: .5ex;
}
nav a:hover {
  color: #1a86ff;
}

nav a.active {
  text-decoration: underline;
}

.raw-link {
  float: right;
  display: inline-block;
}

.header-align {
  margin-top: .25em;
}

/* files list */

.files td:first-child {
  padding: 0 1ex;
}

/* user page */

.user-id {
  float: right;
  font-weight: normal;
  display: inline-block;
  margin: 0;

}

h2 .user-id {
  font-size: 16px;
  padding-top: .5em;
}

h3 .user-id {
  font-size: 15px;
  padding-top: .25em;
}

/* new issue form */

.wide-input {
  width: 99%;
  display: block;
  font-size: inherit;
  line-height: inherit;
}

/* issues */

.issue-state {
  margin-right: .25ex;
}

.issue-state-open {
  color: #38ae67;
}

.issue-state-closed {
  color: #d84a38;
}

/* issue */

.issue-status {
  padding: .4ex .75ex;
  margin-right: .75ex;
  border-radius: .5ex;
}

.open {
  background-color: #38ae67;
  color: white;
  font-weight: bold;
}

.btn.open:hover {
  background-color: #2b9d58;
}

.closed {
  background-color: #d84a38;
  color: white;
}

.mention-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tab-links label,
.tab-links a {
  padding: 1ex;
  color: #333;
}

#tab1:checked ~ .tab-links .tab1-link,
#tab2:checked ~ .tab-links .tab2-link {
  text-decoration: underline;
}

#tab1:not(:checked) ~ .tab1,
.tab2 {
  display: none;
}

.tab1,
#tab2:checked ~ .tab2 {
  display: block;
}

.preview-text {
  border: 1px solid #c0bdba;
  min-height: 6em;
  margin: .25ex 0;
  padding: .25ex;
}

.preview-text :first-child {
  margin-top: 0;
}
.preview-text :last-child {
  margin-bottom: 0;
}

.highlight {
  background-color: #ff6;
  padding: .25ex .5ex;
  margin: -.25ex -.5ex;
}

.item-id {
  color: grey;
  line-height: 2;
  font-size: 10pt;
}

/* code and diffs */

.code {
  border-collapse: collapse;
  text-align: left;
}

.code th {
  font-family: sans-serif;
  font-size: 1.25em;
  padding-bottom: .5ex;
}

.diff-hunk-header {
  background-color: #eee;
  color: grey;
}

.code td {
  padding: 0 1ex 0;
}

:target,
.code tr:hover {
  background-color: #fff8d2 !important;
}

.code-linenum {
  vertical-align: top;
  text-align: right;
  color: grey;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.code-linenum a {
  color: inherit;
}

.code-linenum a:hover {
  color: #9f9999;
}

.code-text {
  white-space: pre-wrap;
  width: 100%;
}

.diff-old { background-color: #ffe2dd; }
.diff-new { background-color: #d1ffd6; }

.code img {
  max-width: 100%;
}

/* Pull requests */

#commits:not(:target) ~ #commits-tab,
#commits:target ~ #files-tab {
  display: none;
}

#commits:not(:target) + .tab-links #files-link,
#commits:target + .tab-links #commits-link {
  font-weight: bold;
}

.compare-commits {
  width: 100%;
}

.date-info {
  font-weight: normal;
  text-align: left;
  color: #666;
}

.compare-commits td:first-child {
  padding-left: 2ex;
}

.pr-tab-links {
  margin: .5em 0 0.25em;
}

.merge-instructions {
  margin-top: .5em;
}

#merge-instructions:not(:checked) + h4 .toggle-open,
#merge-instructions:checked + h4 .toggle-closed,
#merge-instructions:not(:checked) ~ .contents {
  display: none;
}

.toggle-link {
  color: #006eff;
  font-weight: normal;
}
